@import "../common/reset";
@import "../fonts/font";

@import "../extend";
@import "../common/header";
@import "../common/gnb";
@import "../common/footer";

@import "./pagination";
@import "./board";

/**
 * ===================================================================
 * 공통
 * ===================================================================
 */
 $header-height: 116px; // 헤더 높이

/*
&.news, &.notice {
  .footer-wrap {
    height: 920px;
  }
}
*/

.footer {
  //#wrap #content { padding-bottom: 50px; } // reset의 padding 재지정

  #content {
    //padding-top: $header-height + 30px;
    text-align: left;

    .footer-wrap {
      max-width: $max-width-default;
      background-color: #fff;
      color: $color-title; // default color
      @extend .setWidth;
      @extend .boxShadow;
      margin: 30px auto 0 auto;
      padding: 70px 240px 80px 240px; // 게시판 가로 940px
      @media screen and (max-width: $max-width-default-query) {
        padding: 70px 100px 80px 100px; // 게시판 가로 860px
      }


      #BoardList {

      }
      #BoardView {
        display: none;
      }


      // 타이틀
      .title {
        font-size: 36px;
        font-weight: 500;
        color: $color-title;
      }
      .desc {
        font-size: 16px;
        line-height: 1.88;
        margin-bottom: 33px;

        a { color: inherit; }
      }

      .submenu {
        padding: 35px 0;
        font-size: 18px;
        font-weight: 500;

        a {
          margin-right: 50px;
          color: $color-gray6;

          &:hover, &.f-now {
            color: $color-title;
          }
        }
      }

      .f-btn-blue {
        display: inline-block;
        font-size: 16px;
        line-height: 1.38;
        text-align: center;
        padding: 15px 55px;
        border-radius: 3px;
        color: #fff;
        background-color: $color-blue;
      }
    }
  }
}


/**
 * ===================================================================
 * 약관
 * ===================================================================
 */
.footer-wrap {
  .policy-doc {
    padding-top: 30px;
    color: $color-default;
    font-size: 13px;
    line-height: 1.7;
    text-align: justify;
    border-top: 1px solid $color-gray6;

    a {
      color: $color-blue;
    }

    & > div { margin-bottom: 20px; }

    ul { // ① 들여쓰기
      display: block;
      margin: 0;
      padding-left: 15px;

      span:first-child {
        display: inline-block;
        margin-left: -15px;
        width: 16px;
      }
    }

    ol { // 1 들여쓰기
      display: block;
      margin: 0;
      padding-left: 20px;

      li {
        list-style: decimal outside;
      }
    }

    .sj { // 제목
      color: $color-title;
    }
    .sj-lg {
      font-size: 18px;
    }
    .sj-bold {
      font-weight: 500;
    }
    .sj-line {
      text-decoration: underline;
    }

    table {
      width: 100%;

      td, th {
        border: 1px solid $color-default;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
      }

      tr:first-child {
        td, th {
          color: $color-title;
          background-color: $color-gray5;
        }
      }
    }
  }
}


/**
 * ===================================================================
 * 오시는 길
 * ===================================================================
 */
.footer-wrap.f-map {

  .title { margin-bottom: 12px; }


  .map-wrap { // max: 940px, min: 860px
    width: 100%;
    height: 500px;
    margin: 0 auto;


  }
}


/**
 * ===================================================================
 * FAQ
 * ===================================================================
 */
.footer-wrap {
  .submenu-circle {
    display: none !important;
    margin-bottom: 40px;

    &.active {
      display: block;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      margin-right: 10px;
      border-radius: 100px;
      font-size: 14px;
      color: $color-default;
      background-color: #fff;
      border: 1px solid $color-gray1;

      &:hover, &.f-now {
        color: #fff;
        background-color: $color-title;
        border: 1px solid $color-title;
      }
    }
  }

  .faq-list {
    .faq-item {
      position: relative;
      border-top: 1px solid $color-gray1;
      border-bottom: 1px solid $color-gray1;
      margin-top: -1px;
      line-height: 1.7;
      text-align: justify;


      .faq-mark {
        font-size: 16px;
        font-weight: 600;
        color: $color-blue;
        position: absolute;
        left: 22px;
        top: 9px;
      }

      .faq-subject {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        padding: 11px 45px;
        cursor: pointer;
      }

      .faq-arrow {
        position: absolute;
        right: 0;
        top: 8px;
        margin-top: 10px;
        margin-right: 20px;
        width: 15px;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        cursor: pointer;
      }

      .faq-content {
        font-size: 13px;
        color: $color-default;
        background-color: #f8f9fa;
        padding: 30px 48px;
        border-top: 1px solid $color-gray6;
        display: none;

        a {
          color: $color-blue;
          text-decoration: underline;
          font-weight: bold;
        }
      }


      &.active {
        .faq-subject {
          text-decoration: underline;
        }

        .faq-arrow {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          transform: rotate(0deg);
        }

        .faq-content {
          display: block;
        }
      }
    }
  }

  .faq-mailsend {
    background-color: #fafafa;
    text-align: center;
    margin-top: 50px;
    padding: 40px 0;

    div:first-child {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 1.69;
    }
  }
}


/**
 * ===================================================================
 * 제휴문의 안내
 * ===================================================================
 */
.footer-wrap.contact {
    @media screen and (max-width: $max-width-default-query) { // 이미지 사이즈 유지를 위해
      padding: 70px 59px 80px 59px !important;
    }

  .ct-top-desc {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.29;
    margin: 30px 0;
  }

  .ct-subtitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .ct-desc {
    font-size: 13px;
    line-height: 1.7;
    color: $color-default;
  }

  .ct-mailsend {
    margin: 30px 0 90px 0;
    position: relative;

    span {
      display: inline-block;
      position: relative;
      top: 8px;
      margin-left: 20px;
      font-size: 11px;
      line-height: 1.7;
      color: $color-default;
    }
  }

  // 제휴구조
  .ct-structure {
    margin: 40px 0 90px 0;

    .ct-structure-arrow {
      display: inline-block;
      padding: 23px 70px;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      vertical-align: middle;

      div:first-child { color: $color-blue; }
      div:last-child { color: #a427ff; }
    }
    img {
      vertical-align: middle;
    }
  }

  // 제휴절차
  .ct-process {
    margin: 40px 0 90px 0;
    background-image: url("../images/footer/contact_process.png");
    background-repeat: no-repeat;
    width: 941px;
    height: 245px;
    &:after { clear: both; }

    .ct-process-txt {
      display: inline-block;
      float: left;
      width: 25%;
      text-align: center;
      margin-top: 58px;

      &:nth-child(1) { margin-left: -32px; margin-right: 32px; }
      &:nth-child(2) { margin-left: -10px; margin-right: 10px; }
      &:nth-child(3) { margin-left: 12px; margin-right: -12px; }
      &:nth-child(4) { margin-left: 33px; margin-right: -33px; color: #fff; }

      div:nth-child(1) {
        font-size: 16px;
        line-height: 1.38;
        font-weight: bold;
        margin-bottom: 3px;
      }

      div:nth-child(2) {
        font-size: 20px;
        line-height: 1.1;
        font-weight: 500;
        margin-bottom: 85px;
      }

      div:nth-child(3) {
        font-size: 13px;
        line-height: 1.38;
        color: $color-default;

        .highlight {
          color: $color-blue;
          text-decoration: underline;
        }
      }
    }
  }

  // 제휴업체
  .ct-partner {
    margin: 40px 30px 60px -30px; // 제목과 맞추기 위해 왼쪽으로 이동
    height: 200px;
    &:after { clear: both; }

    &:last-child { margin-bottom: 50px; }

    > div {
      display: inline-block;
      float: left;
      width: 25%;
      text-align: center;

      span {
        display: block;
        font-size: 15px;
        font-weight: bold;
        line-height: 1;
        padding-top: 15px;
      }

      // 이미지 간격 넓힘
      margin-right: 20px;
      &:last-child { margin-right: -60px; }
    }
  }
}
